%h2 Login

= form_for(:session, url: sessions_path) do |f|

  %p Username:
  =f.text_field :username

  %p Password:
  =f.password_field :password


  =label_tag(:remember_me, "Remember me")
  =check_box_tag(:remember_me)
  %br/

  =f.submit :Login, :class => "button"

  %p 
    New User? 
    =link_to "Register now!", new_user_path