.FormWrapper
  %h4 Login

  = form_for(:session, url: sessions_path, :html => {:class => 'Form-login'} ) do |f|

    .FormElement
      %p.Entry-paragraph Username:
      =f.text_field :username

    .FormElement
      %p.Entry-paragraph Password:
      =f.password_field :password


    .FormElement
      =label_tag(:remember_me, "Remember me")
      =check_box_tag(:remember_me)

    .FormElement
      =component 'button', {:url => '#', :text => 'Login', :modifier => 'Button--positive Button--submit'}

    .FormElement
      =component 'button', {:url => new_user_path, :text => 'Create', :bold => 'new account', :modifier => 'Button--positive'}
