.addCommentBox
  =form_for Comment.new do |f|
    =hidden_field_tag(:post_id, post_id)
   
    -if defined? comment
      -unless comment.is_root?
        =hidden_field_tag(:parent_comment, comment.parent.id)

    =f.text_area :text, class: "addCommentBox-text", :placeholder => "Your comment..", :rows => 5
    =f.submit "Save", class: "addCommentBox-submit"
    %a.addCommentBox-cancel{ :data => {'cancel_comment' => true}} Cancel