.Entry-wrapper
  =render_votes(content)

  -if content.kind_of? Post
    .Entry.Entry--post

      %h4.Entry-title
        =link_to content.title, content.link, class: ".Entry-link fs-larger"

      -unless defined? isPostTeaser
        %p.Entry-paragraph=content.text

  -elsif content.kind_of? Comment
    .Entry.Entry--comment
      %p.Entry-paragraph
        =content.text

    =render partial: "components/addCommentBox", locals: {:post_id => content.post.id, :comment => content}

  =render :partial => "components/metaInfo", :locals => {:content => content}
