.Entry-wrapper
  =component 'voter', {obj: content}
  -if content.kind_of? Post
    .Entry.Entry--post

      %h4.Entry-title
        =link_to content.title, content.link, class: "Entry-link"

      -unless defined? isPostTeaser
        %p.Entry-paragraph=content.text

  -elsif content.kind_of? Comment
    .Entry.Entry--comment
      %p.Entry-paragraph
        =content.text

    =component 'addCommentBox', {:post_id => content.post.id, :comment => content}

  =component 'metaInfo', {:content => content}
