.comment
  .commentContent

    =render_votes(comment)

    .metaInfo
      .metaInfo-item
        -if comment.user
          =link_to comment.user, class: "metaInfo-link" do
            %span.metaInfo-icon=fa_icon "user"
            %span.metaInfo-text=comment.user.username
        -else
          %span.user_deleted User deleted

      .metaInfo-item
        %span.metaInfo-icon=fa_icon "clock-o"
        %span.metaInfo-text="#{time_ago_in_words(comment.created_at)} ago"

      .metaInfo-item
        -if signed_in?
          %a.metaInfo-link{:data => {'add_comment' => true}} 
            %span.metaInfo-icon=fa_icon "reply" 
            %span.metaInfo-text Reply
        -else
          =link_to "Sign in to reply.", login_path

      -if comment.has_children?
        %a.metaInfo-link{:data => {'minimize' => true}} 
          %span.metaInfo-icon=fa_icon "minus"
          %span.metaInfo-text Minimize

    %p.comment-text
      =comment.text
      .addCommentBox
        =form_for Comment.new do |f|
          =hidden_field_tag(:parent_id, comment.id) 
          =hidden_field_tag(:post_id, @post.id) 
          =f.text_area :text, class: "addCommentBox-text", placeholder: "Your comment..", rows: 5
          =f.submit "Save", class: "addCommentBox-submit"
          %a.addCommentBox-cancel{ data: {'cancel_comment' => true}} Cancel




