%h3 All users

%ul 
-@users.each do |user|
  %li
    / =link_to "#{user.first_name} #{user.last_name}", user

    %a.button.tiny{:href =>"users/#{user.id}"}
      =fa_icon "user"
      =user.username

    %a.button.alert.tiny{:href =>"users/#{user.id}", :data => {:confirm => 'Are you sure?', :method => :delete} }
      =fa_icon "trash-o"
      Delete User  