.FormWrapper
  %h4 Sign up

  - if @user.errors.any?
    - for message_error in @user.errors.full_messages
      %p.Entry-paragraph.error= message_error

  =form_for(@user) do |f|

    .FormElement
      %p.Entry-paragraph Username:
      =f.text_field :username

    .FormElement
      %p.Entry-paragraph Email (optional):
      =f.text_field :email

    .FormElement
      %p.Entry-paragraph Password: 
      =f.password_field :password

    .FormElement
      %p.Entry-paragraph Confirm password:
      =f.password_field :password_confirmation

    .FormElement
      =component 'button', {:url => '#', :text => 'Create account', :modifier => 'Button--positive Button--submit'}

