=gravatar_for(@user)

%h4= "Username: #{@user.username}"

%h5 
  All subs:
  -if @user.subs.empty?
    Not created a sub yet.
  -else
  =@user.subs.count
  =link_to 'see all', :my_subs

%h5 
  My posts:
  -if @user.posts.empty?
    Not posted anything yet.
  -else 
  =@user.posts.count
  =link_to 'see all', :my_posts

%h5 
  My comments:
  -if @user.comments.empty?
    No comments yet.
  -else
    =@user.comments.count
    =link_to 'see all', :my_comments
