$color-black: rgb(35, 31, 32);
$color-grey-dark: rgb(147, 149, 151);
$color-grey-mid: rgb(167, 169, 171);
$color-grey: rgb(222, 224, 226);;
$color-grey-light: rgb(241, 241, 242);
$color-white: rgb(243, 244, 244);
$color-red: rgb(238, 61, 63);
$color-green: rgb(66, 85, 92);
$color-green-light: rgb(78, 93, 99);
$color-green-dark: rgb(62, 77, 80);

$color-background: $color-grey;
$color-link-base: $color-red;
$color-link-hover: darken($color-link-base, 20%);
