$color-black: #050505;
$color-grey: #9898a5;
$color-grey-dark: #4b4c4c;
$color-grey-light: #e6e7e8;
$color-white: #f9f9f9;

$color-red: #e52c73;
$color-yellow: #faaf40;
$color-green: #6ebe44;

$color-background: $color-white;
$color-link-base: $color-black;
$color-link-hover: $color-green;

$color-success: $color-green;
$color-alert: $color-yellow;
$color-error: $color-red;
