$color-black: #050505;
$color-grey: #9898a5;
$color-grey-dark: #58595b;
$color-grey-light: #e6e7e8;
$color-white: #f9f9f9;

$color-red: #E52C58;
$color-yellow: #EDFA40;
$color-green: #6ebe44;
$color-green-dark: #5FB035;
$color-green-light: #ACF188;

$color-background: $color-white;
$color-link-base: $color-black;
$color-link-hover: $color-green;

$color-success: $color-grey-dark;
$color-alert: $color-yellow;
$color-error: $color-red;
