@import "font-awesome";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

@import "bronko-icons";

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-xbold: 700;

$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-monospaced: 'Inconsolata', Monaco, Courier, monospace;
$font-base-size: 16px;
$font-base-weight: $font-weight-normal;
$font-base-lineheight: 1.5;
$font-header-lineheight: 1.25;

$font-size-h1: $font-base-size * 2.25;
$font-size-h2: $font-base-size * 2;
$font-size-h3: $font-base-size * 1.75;
$font-size-h4: $font-base-size * 1.5;
$font-size-h5: $font-base-size * 1.25;
$font-size-h6: $font-base-size;

$base-spacing: $font-base-lineheight * 1em;
