input,
label,
select {
  margin-right: $base-spacing * .5;
  padding: $base-spacing * .5;
  border: 0;
  border-bottom: 3px solid $color-grey-dark;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  background-color: $color-background;
  cursor: pointer;

  &:hover {
    color: $color-link-hover;
    border-bottom: 3px solid $color-link-hover;
  }
}
