@import "vendor/neat/neat-helpers";

// define breakpoint vars to use in media() calls here
// e.g. $mobile: new-breakpoint(max-width 480px 4);
//      usage: @include media($mobile) { ... }


$max-width: em(1700);

$palm-max:  600px;
$lap-max: 1224px;

$palm: new-breakpoint(max-width $palm-max 4);
$lap: new-breakpoint(max-width $lap-max 8);
$desk: new-breakpoint(min-width calc($lap-max + 1px) 12);

$lap-and-up: new-breakpoint(min-width $palm-max);
