.postTeaser {
  @include clearfix;
}

.postTeaser-wrapper {
  margin-right: $base-spacing;
  margin-bottom: $base-spacing * 2;
  margin-left: $base-spacing * 2;
  background-color: $color-white;
}

.postTeaser-title {
  padding: $base-spacing * .5;
}

.postTeaser-link {
  color: $color-black;
}
