-content_for :sortingBar do
  =component 'sortingBar', {:sort_options => Rails.application.config.sort_options_posts_array}

-@all_posts.each do |post|
  =component 'entry', {:content => post, :isPostTeaser => true}