-if current_user.subscribed_subs.any?
  =component 'sortingBar', {:sort_options => Rails.application.config.sort_options_posts_array}

  -@all_posts.each do |post|
    =component 'entry', {:content => post, :isPostTeaser => true}
-else
  %p You have not subscribed to a sub yet.