-if current_user.subscribed_subs.any?
  =render partial: 'layouts/sortingBar', locals: {sort_options: Rails.application.config.sort_options_posts_array}

  -@all_posts.each do |post|
    =render_post_teaser(post)
  =render 'subs/subscriptions'
-else
  %p You have not subscribed to a sub yet.