.comment {
  position: relative;
  background-color: $color__grey-light;
  padding: $bsu/2;
  padding-top: $bsu;
  border-bottom: 2px solid $color__black;
  margin: $bsu 0;
}

.comment_by-line {
  color: #888
}

.comment__comments-wrapper {
  margin-left: $bsu;
}

.comment__add-box {
  display: none;
}

.comment__minimizer {
  display: block;
  position: absolute;
  background-color: $color__white;
  padding: 15px;
  right: 3px;
  top: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color__black;
    color: $color__white;
  }
}