.voter {

}


.voter__button-wrapper {
  margin-bottom: $bsu;
}

.voter__vote {
  color: grey;
  border: 1px solid grey;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;

  &.voter__vote--current {
    color: green;
    border: 1px solid green;
  }
}
