.votes {
  margin-bottom:  $bsu;
  display: inline-block;
  background-color: #F2F2F2;
}

.votes__container {
  padding: 0 $bsu/2;
  border: 1px solid #E6E6E6;

  p {
    margin-bottom: 0;
  }
}

p.votes__upvote,
p.votes__downvote {
  display: inline-block;
  color: #EDB127;
}
