-@subs.each do |sub|
  .Entry-wrapper
    %h4=link_to sub.name, sub
    %p.Entry-paragraph=sub.description
    .MetaInfo
      .MetaInfo-item
        Created by
        =link_to sub.user.username, sub.user, :class => "MetaInfo-link"
