%h4=@sub.name
%p=@sub.description

-if signed_in?
  =render :partial => "buttons/add", :locals => {:url => new_sub_post_path(@sub), :text => "Add new post" }
  
  -if is_user_subscribed?(@sub)
    =link_to 'Unsubscribe from this sub', subscription_path(@sub), :method => :delete
  -else
    =render :partial => "buttons/subscribe", :locals => {:url => new_sub_subscription_path(@sub), :text => "Subscribe to this sub" }
-else
  %p
    To create a new post
    =link_to "sign in", login_path

-unless @sub.posts.empty?
  -@sub.posts.each do |post|
    =render_post_teaser(post)
       
-else
  .post__excerpt
    %p No posts found for this sub.

=render :partial => "buttons/list", :locals => {:url => subs_path, :text => "All subs" }