-content_for :headerSubTitle do
  =@sub.name

-content_for :sortingBar do
  =component 'sortingBar', {sort_options: Rails.application.config.sort_options_posts_array}

-content_for :sidebarContent do
  .metaInfo
    -if signed_in?
      -if is_user_subscribed?(@sub)
        .Button.Button--negative
          =link_to subscription_path(@sub), method: 'delete', class: "Button-link" do
            Remove from
            %span.u-fontBold favorites
      -else
        =component 'button', {:url => new_sub_subscription_path(@sub), :text => 'Add to', :bold => 'favorites', :modifier => 'Button--positive'}
      
    -else
      .metaInfo-item
        =link_to login_path, class: "metaInfo-link" do
          %span.metaInfo-icon=fa_icon "login"
          %span.metaInfo-text To create a new post



-unless @all_posts.empty?
  -@all_posts.each do |post|
    =component 'entry', {:content => post, :isPostTeaser => true}
       
-else
  .post__excerpt
    %p No posts found for this sub.
