.metaInfo
  .metaInfo-item
    =link_to post, class: "metaInfo-link" do
      %span.metaInfo-icon
        %i.icon.icons_comments
      %span.metaInfo-text=post.comments.length

  .metaInfo-item
    -if post.user
      =link_to post.user, class: "metaInfo-link" do
        %span.metaInfo-icon
          %i.icon.icons_user
        %span.metaInfo-text=post.user.username
    -else
      %span.user_deleted User deleted

  .metaInfo-item
    =link_to post.sub, class: "metaInfo-link" do
      %span.metaInfo-icon
        %i.icon.icons_logo
      %span.metaInfo-text=post.sub.name

  .metaInfo-item
    %span.metaInfo-icon
      %i.icon.icons_date
    %span.metaInfo-text="#{time_ago_in_words(post.created_at)} ago"