.FormWrapper
  %h4 Create a new post

  - if @post.errors.any?
    - for message_error in @post.errors.full_messages
      %p.Entry-paragraph.errors= message_error

  =form_for [@sub, @post] do |f|

    .FormElement
      %p.Entry-paragraph Link:
      =f.text_field :link

    .FormElement
      %p.Entry-paragraph Title:
      =f.text_field :title

    .FormElement
      %p.Entry-paragraph Description (optional):
      =f.text_area :text, :size => '44x10'

    .FormElement
      =component 'button', {:url => '#', :text => 'Create', :bold => 'new post', :modifier => 'Button--positive Button--submit'}
