-content_for :sortingBar do
  =component 'sortingBar', {:sort_options => Rails.application.config.sort_options_comments_array}

-content_for :headerSubTitle do
  =link_to @post.sub.name, @post.sub

=component 'entry', {:content => @post}

%hr/

-if @post.comments.empty?
  %p No comments posted, yet.
-else
  =nested_comments(@comments)

-if signed_in?
  =component 'addCommentBox', {:post_id => @post.id}
-else
  =link_to "Sign in to post a comment.", login_path

