-content_for :sortingBar do
  =component 'sortingBar', {:sort_options => Rails.application.config.sort_options_comments_array}

-content_for :headerSubTitle do
  =link_to @post.sub.name, @post.sub

=component 'entry', {:content => @post}

%hr/

.Entry-wrapper
  -if signed_in?
    %p.Entry-hint Create a new comment on this post:
    =component 'addCommentBox', {:post_id => @post.id, :modifier => 'is-active'}
  -else
    =link_to "Sign in to post a comment.", login_path

-if not @post.comments.empty?
  =nested_comments(@comments)


