.post
  =render_votes(@post)
  %h4.postTeaser-title
    =link_to @post.title, @post.link, class: "postTeaser-link fs-larger"
  %p.post-description=@post.text

  =render partial: "posts/post_meta", locals: {post: @post}

=render partial: 'layouts/sortingBar', locals: {sort_options: Rails.application.config.sort_options_comments_array}

-if @post.comments.empty?
  %p No comments posted, yet.
-else
  =nested_comments(@comments)

-if signed_in?
  %p ToDo: add new comment box here!

-else
  =link_to "Sign in to post a comment.", login_path

=render 'subs/subscriptions'
