.Button {
  margin-bottom: $base-spacing * 0.5;
  cursor: pointer;
}

.Button-link {
  display: inline-block;
  padding: ($base-spacing * .25) ($base-spacing * .5);
  border: 1px solid $color-grey;
  border-radius: $base-spacing;
}

.Button-link--bold {
  font-weight: $font-weight-bold;
}

.Button--positive .Button-link {
  border-color: $color-green;
  color: $color-green;
}

.Button--negative .Button-link {
  border-color: $color-red;
  color: $color-red;
}