.sortingForm-timeSelect {
  max-width: 140px;
}

.sortingMethod {
  margin-top: 3px;
}

.sortingMethod-link {
  font-weight: $font-weight-semibold;
  color: $anchor-font-color;
  cursor: pointer;
  border-bottom: 1px solid $anchor-font-color;
}

.sortingMethod-link.is-active {
  color: $primary-color;
  border-color: $primary-color;
}

.sortingMethod-link,
.sortingMethod-link.is-active {
  &:hover,
  &:active {
    color: $anchor-font-color-hover;
    border-color: $anchor-font-color-hover;
  }
}