.SortingBar {
  margin-bottom: $bsu;

  .js & {
    .SortingForm-methodSelect,
    .SortingForm-submit {
      @include media($lap-and-up) {
        display: none;
      }
    }
  }

  .SortingMethod,
  .SortingForm {
    display: inline-block;
  }

  .SortingMethod {
    display: none;
    margin-bottom: 0;
    margin-top: 0;

    @include media($lap-and-up) {
      display: inline-block;
    }
  }

  .SortingForm-timeSelect,
  .SortingForm-methodSelect,
  .SortingForm-submit {
    display: inline-block;
  }

  .SortingMethod-item,
  .SortingForm-timeSelect {
    font-size: $font-size-small;
    font-weight: $font-weight-light;

    &:hover {
      color: $color-link-hover;
    }
  }

  .SortingMethod-item {
    display: inline-block;
    padding: $base-spacing * .5;
    margin-right: $base-spacing * .5;
    cursor: pointer;

    &.is-active {
      color: $color-black;
      &:hover {
        color: $color-black;
      }
    }
  }
}
