.voter{:data => { :id => obj.popmeter.id }}
  %div.voter-buttonWrapper
    -if signed_in?
      -v = current_user.voted_for(obj, current_user)
      -if v.nil?
        .voter-vote.voter-vote-up=fa_icon "arrow-up"
        %span.voter-total="#{obj.upvotes - obj.downvotes}"
        .voter-vote.voter-vote-down=fa_icon "arrow-down"
      -else
        -if v.is_upvote
          .voter-vote.voter-vote-up.is-current=fa_icon "arrow-up"
          %span.voter-total="#{obj.upvotes - obj.downvotes}"
          .voter-vote.voter-vote-down=fa_icon "arrow-down"
        -else
          .voter-vote.voter-vote-up=fa_icon "arrow-up"
          %span.voter-total="#{obj.upvotes - obj.downvotes}"
          .voter-vote.voter-vote-down.is-current=fa_icon "arrow-down"
    -else
      %span.voter-total="#{obj.upvotes - obj.downvotes}"
      %a{:href => login_path}
        =fa_icon "sign-in"
        Login to vote
