%nav.Header
  .Header-siteBranding
    %h1.Header-siteName
      =link_to root_path do
        =image_tag "logo.png", :class => "Header-logo"
        BRNK

    %h1.Header-subName
      = yield :headerSubTitle


  .Header-userDetails
    =render "users/userDetails"

  .MobileMenu-wrapper
    .MobileMenu-burgerButton
      %i.icon.icons_burger

    .MobileMenu
      %ul.MobileMenu-links
        -if signed_in?
          %li.MobileMenu-item.MobileMenu-item--user
            %a.MobileMenu-link{:href => current_user}
              %i.icon.icons_user
              %span.username
                =current_user.username
        -else 
          %li.MobileMenu-item.MobileMenu-item--user
            %a.MobileMenu-link{:href => login_path}
              %i.icon.icons_login Login

      = yield :mobileMenuSorting


