.mainNav
  %nav.mainSiteNav
    .siteBrand
      .icon.icon_icons_logo
      %h1.siteBrand-siteName
        =link_to "BRNK", root_path, class: 'siteBrand-siteLink'

    %ul.siteLinks.siteLinks--topMargin.inline-list.fs-larger
      %li.siteLinks-item
        =link_to "Frontpage", root_path, class: 'siteLinks-link'
      -if signed_in?
        %li.siteLinks-item
          =link_to "My frontpage", my_frontpage_path, class: 'siteLinks-link'

    =render "users/userDetails"
