.SidebarContent
  -if signed_in?
    -if current_user.subscribed_subs.any?
      =component 'linklist', {:list_items => current_user.subscribed_subs}

    =yield :sidebarContent

    =component 'button', {:url => new_sub_path, :text => 'Add new', :bold => 'sub', :modifier => 'Button--positive'}


  -if defined? @sub and not current_page? new_sub_path
    =component 'button', {:url => new_sub_post_path(@sub), :text => 'Add new', :bold => 'post', :modifier => 'Button--positive'}

  -elsif defined? @post and not current_page? new_sub_path
    =component 'button', {:url => new_sub_post_path(@post.sub), :text => 'Add new', :bold => 'post', :modifier => 'Button--positive'}
