.SidebarContent
  -if signed_in?
    -if current_user.subscribed_subs.any?
      =render partial: "components/linklist", locals: {:list_items => current_user.subscribed_subs}


  %a.btn.btn--positive Add post

  =yield :sidebarContent