.sortingBar
  %ul.sortingMethod
    
  %form.sortingForm{action: request.original_url, method: 'get'}
    .sortingForm-methodSelect
      =select_tag(:m, options_for_select(sort_options, @sort_selected))
    .sortingForm-timeSelect
      =select_tag(:t, options_for_select(Rails.application.config.time_array, @time_selected), class: 'sortingForm-timeSelect')
    =submit_tag 'Filter', name: nil, class: 'sortingForm-submit'