.voter{:data => { :id => obj.popmeter.id }}
  %span.voter__total="#{obj.upvotes - obj.downvotes}"

  %div.voter__button-wrapper
    -if signed_in?
      -v = current_user.voted_for(obj, current_user)
      -if v.nil?
        .voter__vote.voter__vote--up UPVOTE
        .voter__vote.voter__vote--down DOWNVOTE
      -else
        -if v.is_upvote
          .voter__vote.voter__vote--up.is-current UPVOTE
          .voter__vote.voter__vote--down DOWNVOTE
        -else
          .voter__vote.voter__vote--up UPVOTE
          .voter__vote.voter__vote--down.is-current DOWNVOTE
    -else
      sign in to vote
