.voter{:data => { :id => obj.popmeter.id }}
  %div.voter__button-wrapper
    -if signed_in?
      -# -v = current_user.voted_for(obj, current_user)
      -v = nil
      -if v.nil?
        %span.voter__total="#{obj.upvotes - obj.downvotes}"
        .voter__vote.voter__vote--up UPVOTE
        .voter__vote.voter__vote--down DOWNVOTE
      -else
        -if v.is_upvote
          %span.voter__total="#{obj.upvotes - obj.downvotes}"
          .voter__vote.voter__vote--up.is-current UPVOTE
          .voter__vote.voter__vote--down DOWNVOTE
        -else
          %span.voter__total="#{obj.upvotes - obj.downvotes}"
          .voter__vote.voter__vote--up UPVOTE
          .voter__vote.voter__vote--down.is-current DOWNVOTE
    -else
      %span.voter__total="#{obj.upvotes - obj.downvotes}"
      %a{:href => login_path}
        =fa_icon "sign-in"
        Login to vote
