!!!
%html.no-js{"lang" => "en"}
  %head
    %meta{"name" => "viewport", "charset" => "utf-8", "content" => "width = device-width, user-scalable = no, initial-scale = 1.0"}
    %title Bronko [beta]
    =stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags
    %body
      =render "components/flashMessages"

      .SiteWrapper
        .SiteHeader
          =render "layouts/header"

        .SiteNavi
          =yield :sortingBar

        .SiteContent
          
          .SiteContent-outerContainer
            .MainContent=yield
            =render "layouts/sidebar"

        .SiteFooter
          =render "layouts/footer"